:root {
    /* primary */
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    /* neutral */
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
    --font1: 'Fraunces', serif;
    --font2: 'Montserrat', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--Cream);
    font-size: 14px;
}

.main {
    background-color: var(--White);
    width: 330px;
    margin: 50px auto;
    border-radius: .5rem;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.card {
    display: flex;
    flex-direction: column;
}

.photo {
    background-image: url('../images/image-product-mobile.jpg');
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: .5rem .5rem 0 0;
}

.card__content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.text {
    padding: 1.2rem;
    margin-bottom: 2rem;
}

.tag {
    font-family: var(--font2);
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-size: .7rem;
    color: var(--Dark-grayish-blue);
    margin-bottom: .5rem;
}

.title {
    line-height: 1.6rem;
    margin-bottom: .5rem;
    color: var(--Very-dark-blue);
    font-weight: 700;
    font-family: var(--font1);
    margin-top: 1rem;
    font-size: 1.9rem;
}

.paragraph {
    color: var(--Dark-grayish-blue);
    font-family: var(--font2);
    margin-top: 1.5rem;
    line-height: 1.4rem;
    font-size: .8rem;
}

.prices {
    padding: 1rem;
    width: 50%;
    margin: auto;
    margin-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.update__price {
    color: var(--Dark-cyan);
    font-weight: 700;
    font-family: var(--font1);
    font-size: 1.7rem;
}

.old__price {
    color: var(--Dark-grayish-blue);
    text-decoration: line-through;
    font-size: .75rem;
    font-family: var(--font2);
}

.button {
    margin: 1rem;
    margin-top: 0;
    margin-bottom: 2rem;
    border: none;
    background-color: var(--Dark-cyan);
    color: var(--White);
    border-radius: .4rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center
}

.cart__icon {
    margin-right: 10px;
    height: .9rem;
}

.button:hover {
    background-color: hsl(158, 38%, 20%);
    cursor: pointer;
}

.attribution {
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
}

.attribution a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

@media screen and (min-width:426px) {
    body {
        font-size: 20px;
    }
    .main {
        width: 550px;
        height: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .card {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .photo {
        background-image: url('../images/image-product-desktop.jpg');
        height: 400px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: .5rem 0 0 .5rem;
    }
    .text {
        margin-bottom: 1rem;
    }
    .prices {
        width: 75%;
    }
}